html{
    background-color: black;
}


#text{
    color: whitesmoke;
}

#image-box{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 736px;
    height: 736px;
    border: 5px solid whitesmoke;
    padding: 5px;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

p{
    text-align: center;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  